# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore all files that are not necessary to build and run the binary
**/*
!**/*.go
!api/*
!go.mod
!go.sum
!index.html
# ignore local GOPATH=$(pwd)/.go/
.go/
